.sale_register_leftbox.col-md-9{
	padding-right:5px;
	padding-left: 5px;
}
.sale_register_rightbox.col-md-3{
	padding-right:5px;
	padding-left: 5px;
}
.customer-input{
	display: inline;
}
.new-customer, .new-item {
	margin-left: 10px;
}
.or-new{
	width: 100%;
	text-align: center;;
}
.totals td {
    padding: 10px;
}
.mode-dropdown{
	padding-right: 10px;
}
.table.item-table{
	margin-bottom: 0px;
}
#amount_tendered{
	width: 100%;
}
.payment-type{
	padding-left: 10px;
}
#sales-add-payment{
	margin-top: 10px;
	margin-bottom: 20px;
}
.right{
	float: right;
}