#register_wrapper
{
	float:left;
	width:70%;
	font-family:Arial;
	font-size:13px;
}
#mode_form
{
	position:relative;
	background-color:#DDD;
	padding: 3px 0px 3px 5px;
}

#mode_form span
{
	font-weight:bold;
}

#add_item_form
{
	position:relative;
	background-color:#BBBBBB;
	width:100%;
	padding: 8px 0px 8px 0px;
	
}

#new_item_button_register
{
	position:absolute;
	top:3px;
	right:4px;
}

#add_item_form input
{
 	border: 1px solid #ccc;
 	padding: 2px;
 	
}

#item_label,#customer_label
{
	font-weight:bold;
}

#add_item_form label
{
	margin: 0px 5px 0px 5px;
}

#register
{
	position:relative;
	width:100%;
	padding:0px;
	border-collapse:collapse;	
}

#register th
{	
	background-color:#4386a1;
	padding:5px;
	text-align:center;
	color:#FFFFFF;
}

#register td
{
	background-color:#EEEEEE;
	padding:3px;
	text-align:center;
}

#overall_sale
{
	float:left;
	margin-left:4px;
	background-color:#BBBBBB;
	width:28%;
	padding:5px;
	font-family:Arial;
	font-size:13px;
	
}

#sale_details
{
	position:relative;
	width:100%;
	margin-top:5px;
	border-top:2px solid #000;
}

#finish_sale
{
	position:relative;
}