#lists{
	margin: 25px 0;
}

#lists #lists-buttons{
	background: #cccccc;
	border: 1px solid #dddd22;
	padding: 10px 20px 0 10px;
}

#lists #lists-buttons legend{
	background-color: #ffffff;
	border: 1px solid #333333;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 5px;
}

#lists #lists-buttons a.button
{
	margin: 0 15px 15px 0;
}

#lists #lists-view{
	background-color:#f7f7f7;
	border: 1px solid #cccccc;
	display: none;
	margin-top: 15px;
	padding: 10px 20px;
}

#lists-loading{
	text-align: center;
}