.campaigns{
	background-color: #dfdfdf;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 15px;
	padding: 10px;
}

.campaigns h3{
	border-bottom: 2px dotted #cccccc;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.campaign .name{
	float: left;
	width: 250px;
}

.campaign .actions{
	float: right;
}