.button-wrapper{
    margin-top: 10px;
    text-align: right;
}

.button-wrapper a{
    text-align: center;
    width: 125px;
}

#content_area{
    margin-bottom: 20px;
}

#nav-bar{
    background-color: #cccccc;
    border: 1px solid #dddd22;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    padding: 5px;
}

#nav-bar .button{
    font-size: 16px;
    text-align: center;
    width: 100px;
}

#button-back{
    float: left;
    width: 150px;
}

#button-next{
    float: right;
    text-align: right;
    width: 150px;
}

#countinfo{
    float: left;
    margin: auto;
    width: 560px;
}

#countinfo p{
    font-weight: 10px;
    font-style: italic;
    margin-top: 5px;
    text-align: center;
}