#report{
	background-color: #ffffdd;
	-webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	border: 2px solid #cccccc;
	margin: 10px 0;
	padding: 15px;
}

#report-stat-wrapper, #report-drilldown-wrapper{
	border: 1px solid #333333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    width: 400px;
}

#report-stats{
    border-collapse: collapse;
	font-size: 11px;
}

tr.odd{
    background-color: #d5d5d5;
}

#report-stats tr td, #report-drilldown tr td{
    padding: 5px 3px;
}

#report-stats td.title{
	font-weight: bold;
	text-align: left;
	width: 300px;
}

#report-drilldown td.title{
	font-weight:  bold;
	text-align: left;
	width: 125px;
}

td.value{
	text-align: right;
	width: 100px;
}

#report-stats th{
	border-bottom: 1px solid #333333;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
    padding-top: 5px;
	text-align: center;
}


#report-drilldown-wrapper{
	float: right;
	width: 400px;
}

#report-drilldown {
	border-collapse: collapse;
	font-size: 11px;
}

#report-drilldown-title{
	border-bottom: 1px solid #333333;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
    text-align: center;
}


#report-drilldown-labels th{
	border-right: 1px solid #e5e5e5;
	min-width: 70px;
	padding: 2px 4px;
	text-align: right;
}

#report-drilldown td{
	border-right: 1px solid #e5e5e5;
	padding: 2px 4px;
	text-align: right;
}

#report-drilldown td:last-child{
	border-right: none;
}

#report-extras{
	background-color: #fafaaa;
	border: 2px solid #cccccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top: 15px;
	padding: 10px 5px 5px 5px;
}

#report-extras p{
	background-repeat: no-repeat;
	background-position: 3px 3px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	padding: 3px 2px 3px 45px;
}

#report-extras .negative{
	background-color: #ff9999;
	background-image: url(../../images/chimp-negative.png);
	
}

#report-extras .positive{
	background-color: #99ff99;
	background-image: url(../../images/chimp-positive.png);
}

#report-extras .neutral{
	background-color: #ffffcc;
	background-image: url(../../images/chimp-neutral.png);
	border: 1px solid #ffffff;
}