<?php
$config['company']="Muench Inc!!";
$config['address']="";
$config['phone']="585-555-5555";
$config['email']="me@chrismuench.com";
$config['fax']="";
$config['company_website']="http://www.chrismuench.com";
$config['other']="";
$config['default_tax_rate']="8";
$config['currency_symbol']="$";
?>