<?php
$config['company']="Muench Inc!!";
$config['address']="";
$config['phone']="585-555-5555";
$config['email']="me@chrismuench.com";
$config['fax']="";
$config['company_website']="http://www.chrismuench.com";
$config['other']="";
$config['db_host']="localhost";
$config['db_name']="pos";
$config['db_user']="root";
$config['db_password']="******";
$config['default_tax_rate']="8";
$config['currency_symbol']="$";
$config['language'] = 'english';
$config['base_url'] = 'http://127.0.0.1/phppointofsale/';
?>